# Files
*.log*
*.pnp
*.pnp.js
*.swp
.DS_Store
.env*
package-lock.json
yarn.lock

# Folders
.expo/
.idea/
.vs/
build/
coverage/
node_modules/
app/backend/storage/courseuploads/
app/backend/storage/profileuploads/